.price_sec_conteiner {
    width:100%;
    height: 100%;
}

.price_sec_title {
    color: rgb(0, 204, 255);
    font-family: "Inter", sans-serif;
    font-size: 80px;
    font-style: italic;
    font-weight: 900;
    letter-spacing: 0px;
    z-index: 20;
    transition: all 0.3s ease;
    cursor: default;
    user-select: none;
    text-transform: uppercase;
    font-style: italic; 
    font-size-adjust: 0.58;
    position: relative;
    margin-top: 180px;
    margin-left: 80px;
}

.price_sec_title::before {
    content: "цена";
    position: absolute;
    top: -90px;
    left: -30px;
    width: 100%;
    height: 100%;
    opacity: 0.15;
    z-index: -1;
    transform: skewX(-10deg);
    transform-origin: top left;
    transition: all 0.3s ease;
    cursor: default;
    user-select: none;
    text-transform: uppercase;
    font-style: italic; 
    font-size-adjust: 0.58;
    color: black;
    font-family: "Inter", sans-serif;
    font-size: 130px;
    font-style: italic;
    font-weight: 900;
    letter-spacing: 0px;
}