.arenas_sec_conteiner {
    width:100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    position: relative;
}

.arenas_sec_text_wrapper {
    display: flex;
    align-items: flex-start;
    gap: 40px;
    padding: 0 80px;
}

.arenas_sec_text_container {
    flex: 0 0 45%;
}

.arenas_sec_title {
    color: rgb(0, 204, 255);
    font-family: "Inter", sans-serif;
    font-size: 80px;
    font-style: italic;
    font-weight: 900;
    letter-spacing: 0px;
    z-index: 20;
    transition: all 0.3s ease;
    cursor: default;
    user-select: none;
    text-transform: uppercase;
    font-style: italic; 
    font-size-adjust: 0.58;
    position: relative;
    margin-top: 180px;
    margin-left: 80px;
    pointer-events: none;
}

.arenas_sec_title::before {
    content: "Зоны";
    position: absolute;
    top: -90px;
    left: -30px;
    width: 100%;
    height: 100%;
    opacity: 0.15;
    z-index: -1;
    transform: skewX(-10deg);
    transform-origin: top left;
    transition: all 0.3s ease;
    cursor: default;
    user-select: none;
    text-transform: uppercase;
    font-style: italic; 
    font-size-adjust: 0.58;
    color: black;
    font-family: "Inter", sans-serif;
    font-size: 130px;
    font-style: italic;
    font-weight: 900;
    letter-spacing: 0px;
}

.arenas_sec_text{
    display: block;
    font-family: "monospace", sans-serif;
    font-size: 20px;
    letter-spacing: 0.5px;
    line-height: 24px;
    color: white !important;
    font-weight: 600;
    text-align: left;
    padding: 0;
    border: none;
    margin-left: 0;
    width: 100%;
    margin-top: 10px;
}