.contacts_sec_conteiner {
    width:100%;
    height: 100%;
}

.contacts_sec_title {
    color: rgb(0, 204, 255);
    font-family: "Inter", sans-serif;
    font-size: 80px;
    font-style: italic;
    font-weight: 900;
    letter-spacing: 0px;
    z-index: 20;
    transition: all 0.3s ease;
    cursor: default;
    user-select: none;
    text-transform: uppercase;
    font-style: italic; 
    font-size-adjust: 0.58;
    position: relative;
    margin-top: 180px;
    margin-left: 80px;
}

.contacts_sec_title::before {
    content: "ждёмвас!";
    position: absolute;
    top: -90px;
    left: -30px;
    width: 100%;
    height: 100%;
    opacity: 0.15;
    z-index: -1;
    transform: skewX(-10deg);
    transform-origin: top left;
    transition: all 0.3s ease;
    cursor: default;
    user-select: none;
    text-transform: uppercase;
    font-style: italic; 
    font-size-adjust: 0.58;
    color: black;
    font-family: "Inter", sans-serif;
    font-size: 130px;
    font-style: italic;
    font-weight: 900;
    letter-spacing: 0px;
}

.contacts_sec_sectitle{
    color: rgb(155, 155, 155) !important;
    font-family: "Space Mono", monospace;
    font-size: 17px;
    font-weight: 500;
    letter-spacing: 0px;
    z-index: 20;
    transition: all 0.3s ease;
    cursor: default;
    user-select: none;
    margin-top: 80px;
    margin-left: 80px;
}

.contacts_sec_seccontent{
    color: white !important;
    font-family: "Inter", sans-serif;
    font-size: 36px;
    font-style: italic;
    font-weight: 900;
    letter-spacing: 0px;
    z-index: 20;
    transition: all 0.3s ease;
    cursor: default;
    user-select: none;
    text-transform: uppercase;
    font-size-adjust: 0.58;
    position: relative;
    margin-left: 80px;
    margin-top: 20px;
    text-decoration-style: solid;
}

.contacts_footer{
    display: inline-block;
    width: 100%;
    height: 60px;
    background-color: rgb(0, 204, 255);
    color: rgb(37, 37, 37);
    font-family: "Space Mono", monospace;
    font-size: 16px;
    font-weight: 900;
    letter-spacing: 2px;
    display: flex;
    align-items: center;
    justify-content: left;
    text-transform: uppercase;
    text-decoration: underline;
    padding-left: 40px;
    box-sizing: border-box;
}