*{
  margin: 0px;
}

body{
  background: #252525 url(//cyberspace.by/wp-content/themes/cyberspace/css/../images/background.png) repeat-y scroll;
}

.app {
  display: flex;
  min-height: 100vh;
}

.main-content {
  margin-left: 200px;
  width: calc(100% - 200px);
}

.content-section_home{
  height: 100dvh;
}
.content-section {
  height: 100dvh;
  border-top: 1px solid #00c1fc00;
}

.content-section-info {
  height: 100dvh;
  border-top: 1px solid #00c1fc00
}

@media (max-width: 768px) {
  .main-content {
    margin-left: 200px;
    width: calc(100% - 200px);
  }
}

@media (max-width: 576px) {
  .left-navigation {
    width: 60px;
    
    .nav-header h3,
    .nav-button span {
      display: none;
    }
  }
  
  .main-content {
    margin-left: 60px;
    width: calc(100% - 60px);
  }
}